In [4]:
# Import dependencies
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
import pandas as pd

In [2]:
# Create classes
Base = declarative_base()

In [3]:
class License(Base):
    __tablename__ = 'license_records'
    id = Column(Integer, primary_key=True)
    rownumber = Column(Integer, nullable=False)
    animalgender = Column(String(1), nullable=False)
    breedname = Column(String(255), nullable=False)
    borough = Column(String(255), nullable=False)
    zipcode = Column(Integer, nullable=False)

class Relationship(Base):
    __tablename__ = 'breed_breed_group_relationship'
    id = Column(Integer, primary_key=True)
    breedname = Column(String(255), nullable=False)
    breedgroup = Column(String(255), nullable=False)
    assumedflag = Column(Integer, nullable=False)

class Stats(Base):
    __tablename__ = 'breed_stats'
    id = Column(Integer, primary_key=True)
    breedname = Column(String(255), nullable=False)
    avgweight = Column(Float, nullable=False)
    avglife = Column(Float, nullable=False)

In [ ]:
# Create SQLite database and session
engine = create_engine('sqlite:///SQLite/dog_data.sqlite')
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [6]:
# Read CSV files into DataFrames
license_records = pd.read_csv('Resources/license_records.csv')
breed_breed_group_relationship = pd.read_csv('Resources/breed_breed_group_relationship.csv')
breed_stats = pd.read_csv('Resources/breed_stats.csv')

In [7]:
license_records.head(2)

   RowNumber AnimalGender  BreedName Borough  ZipCode
0      47793            F  Chow Chow  Queens    11385
1      48071            M        Pug  Queens    11357

In [8]:
breed_breed_group_relationship.head(2)

       BreedName BreedGroup  AssumedFlag
0  Affenpinscher        Toy            0
1   Afghan Hound      Hound            0

In [9]:
breed_stats.head(2)

       BreedName  AvgWeight  AvgLife
0  Affenpinscher        8.5     13.5
1   Afghan Hound       55.0     13.5