In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Load raw data file into DataFrame
data_df = pd.read_csv('Resources/nyc-dog-licensing-dataset-1.csv')

In [3]:
# Add 'Year' column using parsed year from 'LicenseIssuedDate'
data_df['Year'] = pd.DatetimeIndex(data_df['LicenseIssuedDate']).year

In [4]:
# Filter to only records with 'Year' 2016
data_2016_df = data_df.loc[data_df['Year']==2016, :]

In [5]:
# Limit to columns of interest, to records without ' ' or null values
condensed_2016_df = data_2016_df[['RowNumber', 'AnimalGender', 'BreedName', 'Borough', 'ZipCode']].copy()
condensed_2016_df.replace(' ', np.nan, inplace=True)
condensed_2016_df.dropna(how='any', inplace=True)
condensed_2016_df['ZipCode'] = condensed_2016_df['ZipCode'].astype(int)
condensed_2016_df.head()

    RowNumber AnimalGender  BreedName    Borough  ZipCode
45      47793            F  Chow Chow     Queens    11385
46      48071            M        Pug     Queens    11357
47      50583            F        Pug  Manhattan    10003
48      52086            M    Unknown      Bronx    10456
49      52822            M    Unknown      Bronx    10473

In [6]:
# Gather unique values of BreedName and export for review
unique_breeds = condensed_2016_df['BreedName'].sort_values().unique()
unique_breeds_df = pd.DataFrame(unique_breeds)
unique_breeds_df.to_csv('Resources/breed_list_raw.csv', index=False, header=False)

In [7]:
# Clean up BreedName values
condensed_2016_df['BreedName'].replace({
    'Australian Cattledog': 'Australian Cattle Dog',
    'Australian Silky Terrier': 'Silky Terrier',
    'Bassett Hound': 'Basset Hound',
    'Belgian Griffon': 'Brussels Griffon',
    'Brittany Spaniel': 'Brittany',
    'Bull Dog, American': 'American Bulldog',
    'Bull Dog, English': 'English Bulldog',
    'Bull Dog, French': 'French Bulldog',
    'Collie, Bearded ': 'Bearded Collie',
    'Collie, Border': 'Border Collie',
    'Collie, Rough Coat': 'Rough Coat Collie',
    'Collie, Smooth Coat': 'Smooth Coat Collie',
    'Coonhound, Black and Tan': 'Black and Tan Coonhound',
    'Coonhound, Blue Tick': 'Bluetick Coonhound',
    'Coonhound, Treeing Walker': 'Treeing Walker Coonhound',
    'Cotton De Tulear': 'Coton de Tulear',
    'Dachshund, Long Haired': 'Long Haired Dachshund',
    'Dachshund, Long Haired Miniature': 'Long Haired Miniature Dachshund',
    'Dachshund, Wirehaired': 'Wirehaired Dachshund',
    'Dachshund, Wirehaired, Miniature': 'Wirehaired Miniature Dachshund',
    'Dogue de Bordeaux': 'French Mastiff (Dogue de Bordeaux)',
    'Jindo Dog, Korea': 'Jindo',
    'Mastiff, Bull': 'Bullmastiff',
    'Mastiff, French (Dogue de Bordeaux)': 'French Mastiff (Dogue de Bordeaux)',
    'Mastiff, Neapolitan': 'Neapolitan Mastiff',
    'Mastiff, Old English': 'Old English Mastiff',
    'Mastiff, Tibetan': 'Tibetan Mastiff',
    'Pharoh hound': 'Pharaoh Hound',
    'Pointer, German Shorthaired': 'German Shorthaired Pointer',
    'Pointer, German Wirehaired': 'German Wirehaired Pointer',
    'Poodle, Miniature': 'Miniature Poodle',
    'Poodle, Standard': 'Poodle',
    'Poodle, Toy': 'Toy Poodle',
    'Saint Bernard': 'St. Bernard',
    'Schipperkee': 'Schipperke',
    'Schnauzer, Giant': 'Giant Schnauzer',
    'Schnauzer, Miniature': 'Miniature Schnauzer',
    'Schnauzer, Standard': 'Standard Schnauzer',
    'Schnauzer, Miniature Crossbreed': 'Miniature Crossbreed Schnauzer',
    'Shar-Pei, Chinese': 'Chinese Shar-Pei',
    'Terrier mix': 'Terrier Crossbreed',
    'Unknown': 'Not Listed',
    'Welsh Corgi, Cardigan': 'Cardigan Welsh Corgi',
    'Welsh Corgi, Pembroke': 'Pembroke Welsh Corgi',
    'West High White Terrier': 'West Highland White Terrier'
}, inplace=True)

In [8]:
# Clean up Borough values
condensed_2016_df['Borough'].replace({
    'B': 'New York (General)',
    'Bronx ': 'Bronx',
    'Brooklyn ': 'Brooklyn',
    'JACKSON HGTS': 'Jackson Heights',
    'Jackson heights ': 'Jackson Heights',
    'kissimmee florida': 'Non-NY',
    'Manhattan ': 'Manhattan',
    'NEW YORK': 'New York (General)',
    'New York ': 'New York (General)',
    'New York  ': 'New York (General)',
    'NEW YORK CITY': 'New York (General)',
    'NY': 'New York (General)',
    'NYC': 'New York (General)',
    'SO RICHMOND': 'South Richmond Hill',
    'South Richmond Hil': 'South Richmond Hill',
    'STATEN IS': 'Staten Island',
    'Staten Island, NY': 'Staten Island',
    'Wappingers Falls, NY': 'Wappingers Falls',
    'Woodside NY.': 'Woodside'
}, inplace=True)

condensed_2016_df['Borough'] = condensed_2016_df['Borough'].str.title()

In [9]:
# Gather unique values of BreedName and export for manual mapping to BreedGroup
unique_breeds_clean = condensed_2016_df['BreedName'].sort_values().unique()
unique_breeds_clean_df = pd.DataFrame(unique_breeds_clean)
unique_breeds_clean_df.to_csv('Resources/breed_list_clean.csv', index=False, header=False)

In [11]:
# Create license records csv for SQL import
condensed_2016_df.to_csv('Resources/license_records.csv', index=False)